
@model PagedList.IPagedList<qlvb.Controllers.HomeController.searchitem>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Tìm Kiếm Văn Bản Quy Phạm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string allFilter = ViewBag.f1 + "," + ViewBag.f2 + "," + ViewBag.f3 + "," + ViewBag.f4;
    int count = 0;
}

<div id="tf-services">
<div class="container">
    <div style="width:100%;padding-top:30px;">
        <input type="text" class="form-control" placeholder="Từ khóa" id="word" name="word" value="@ViewBag.keyword" style="width:60%;display:block;float:left;position:relative;" onkeyup="autosearch(event);">
        <input type="button" value="tìm kiếm" onclick="search();" class="btn btn-primary tf-btn color" style="display:block;float:left;position:relative;"/>
    </div>
    <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
        @Html.Raw(@ViewBag.cat1)        
    </div>
    <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
        @Html.Raw(@ViewBag.cat2)        
    </div>
    <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
        @Html.Raw(@ViewBag.cat3)        
    </div>
    <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
        @Html.Raw(@ViewBag.cat4)        
    </div>
    <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
        <section class="refinements-summary">
            @if (ViewBag.f1 != "" || ViewBag.f2 != "" || ViewBag.f3 != "" || ViewBag.f4 != ""){
             <b>Bộ lọc: </b>@Html.Raw(qlvb.Config.tags(@ViewBag.f1,@ViewBag.f2,@ViewBag.f3,@ViewBag.f4))
                                    
                                    <a style="cursor:pointer;" onclick="resetCat();">xóa bộ lọc</a>
            }
        </section>
    </div>
    <div style="width:100%;padding-top:30px;">
       <div style="width:100%;padding-top:30px;"><div class="span9">
           @if (ViewBag.keyword != "")
           {
                <text> <h5>Tìm thấy (@Model.TotalItemCount) - <span>văn bản</span></h5></text>
           }
           else
           {
               <text> <h5>Xem nhiều nhất</h5></text>
           }
               
           </div><div class="span4">
               @if (ViewBag.keyword != "")
               {
                    <text>Sắp xếp theo:
                            <select id="order" onchange="chooseOder();">
                              <option value="-1">Chọn</option>  
                              <option value="1">Phù hợp nhất</option>
                             @* <option value="2">Mới nhất</option>
                              <option value="3">Cũ nhất</option>*@
                              <option value="2">Xem nhiều nhất</option>
                            </select>
                    </text>
               }
       </div></div> 
       <table class="table">
        <tr>
            <th>
                Ký hiệu
            </th>
            <th>
                Tên văn bản
            </th>
            <th>
                Lĩnh vực
            </th>
            <th>Người ký</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Document/Details/@item.id" target="_blank">@item.code</a>
                </td>
                <td align="left" >
                    @if (item.RANK > 0 && count==0)
                    {
                        <a href="/Document/Details/@item.id" target="_blank" style="background-color:yellow;"><b>@item.name</b></a>
                    }
                    else
                    { <a href="/Document/Details/@item.id" target="_blank" >@item.name </a>}
                </td>
                <td>
                    @qlvb.Config.getCatNameById(1, @item.cat1_id)
                </td>
                <td>
                     @qlvb.Config.getCatNameById(3, @item.cat3_id)
                </td>
            </tr>
            count++;
        }
        </table>
 <div>Trang:
    @for (int i = 1; i <= Model.PageCount; i++)
    {
           <a onclick="setpage(@i);" style="cursor:pointer;">@i,</a>
    }
</div>
    </div>
</div>
</div>
<script>
    var pg=@ViewBag.page;
    var order="@ViewBag.order";
    var to="@ViewBag.to";
    var currentCat1="@ViewBag.f1";
    var currentCat2="@ViewBag.f2";
    var currentCat3="@ViewBag.f3";
    var currentCat4="@ViewBag.f4";
    if (order.toString().indexOf("RANK")>=0){
        $("#order").val(1);
    }
    //if (order.toString().indexOf("code")>=0 && to.toString().indexOf("Desc")>=0){
    //    $("#order").val(2);
    //}
    //if (order.toString().indexOf("code")>=0 && to.toString().indexOf("Asc")>=0){
    //    $("#order").val(3);
    //}
    if (order.toString().indexOf("views")>=0){
        $("#order").val(2);
    }
    function resetCat(){
        currentCat1="";
        currentCat2="";
        currentCat3="";
        currentCat4="";
        search();
    }
    function setCat(type,val){
        switch(type){
            case 1:
                currentCat1=val;
                break;
            case 2:
                currentCat2=val;
                break;
            case 3:
                currentCat3=val;
                break;
            case 4:
                currentCat4=val;
                break;
        }
        search();
    }
    function chooseOder(){
        if ($("#order").val()=="1"){
            setorder('RANK','Desc');
        }
        //else
        //    if ($("#order").val()=="2"){
        //        setorder('code','Desc');
        //    }
        //    else
        //        if ($("#order").val()=="3"){
        //            setorder('code','Asc');
        //        }
                else
                    if ($("#order").val()=="2"){
                        setorder('views','Desc');
                    }
    }
    function setorder(field,t) {
        order=field;
        to=t;
        pg=1;
        search();
    }
    function setpage(page) {
        pg=page;
        search();
    }
    function search() {
        var url = "/?";
        var k = $("#word").val();
        //if (k == "") {
        //    return;
        //}
        var f1="";
        var f2="";
        var f3="";
        var f4="";
        f1=currentCat1;
        f2=currentCat2;
        f3=currentCat3;
        f4=currentCat4;
        url += "k=" + k + "&f1=" + f1 + "&f2=" + f2 + "&f3=" + f3 + "&f4=" + f4 +"&order="+order+"&to="+to+"&pg="+pg;
        window.location.href = url;
    }
    //function search() {
    //    var word = document.getElementById("word").value;
    //    window.location.href = "/Document/Index?page=1&word=" + word;
    //}
    function autosearch(e) {
        var keyword = document.getElementById("word").value;
        urlSearch = '/Document/getDoc?keyword=';
        $('#word').autocomplete({
            source: urlSearch + keyword,
            select: function (event, ui) {
                //$(event.target).val(ui.item.name);
                //search();
                alert(ui.item.id);
                return false;
            },
            minLength: 1
        });
        var keyCode = e.keyCode || e.which;//('which' in event) ? event.which : event.keyCode;
        
        //alert(keyCode);
        if (keyCode == 13) {
            if (keyword == "") {
                alert("Bạn phải nhập từ khóa");
                return;
            }else{
                search();
            }
        }
    }
</script>
