
@model PagedList.IPagedList<qlvb.Controllers.HomeController.searchitem>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Tìm Kiếm Văn Bản Quy Phạm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string allFilter = ViewBag.f1 + "," + ViewBag.f2 + "," + ViewBag.f3 + "," + ViewBag.f4;
    int count = 0;
    string allHotKeyword = "";
    
    
}
<script>
    function getShortDesItemSearch(id,keyword) {
        
        $.ajax({
            url: "/Document/getShortDesItemSearch?id=" + id+"&keyword="+keyword,
            cache: false
        }).done(function (html) {
            $("#items_"+id).html(html);

        });
    }
</script>
    <div class="col-sm-3" id="mnleft">
        <div style="margin-top:10px;float:left;position:relative;border:1px solid #ff6a00;border-radius:5px;">
            <div style="background:rgb(155, 197, 229);color:#000000;height:40px;float:left;position:relative;width:100%;text-align:left;padding-top:10px;padding-left:15px;">
                Lĩnh vực
            </div>
            <ul id="allcat1" style="text-align:left;float:left;position:relative;padding-left: 16px"></ul>
            <div style="background:rgb(155, 197, 229);color:#000000;height:40px;float:left;position:relative;width:100%;text-align:left;padding-top:10px;padding-left:15px;">
                Loại văn bản
            </div>
            <ul id="allcat2" style="text-align:left;float:left;position:relative;padding-left: 16px"></ul>
            <div style="background:rgb(155, 197, 229);color:#000000;height:40px;float:left;position:relative;width:100%;text-align:left;padding-top:10px;padding-left:15px;">
                Từ khóa gợi ý
            </div>
            <section class="refinements-summary" style="text-align:left;">
                <ul id="allhotkeyword" style="text-align:left;float:left;position:relative;">
                    Đang tải...
                </ul>
            </section>
        </div>
    </div>
    <div class="col-sm-9">
            <div style="background-color:#fccc70;margin-top:10px;border:1px solid #ff6a00;border-radius:5px;float:left;position:relative;padding-left:5px;">
                <div style="width:100%;float:left;position:relative;margin-top:3px;background-color:#fccc70;">
                    <h3 style="text-align:left;">Tìm kiếm văn bản</h3>
                    <input type="text" class="form-control" placeholder="Từ khóa" id="word" name="word" value="@ViewBag.keyword" style="width:60%;display:block;float:left;position:relative;" onkeyup="autosearch(event);">
                    <input type="button" value="tìm kiếm" onclick="search();" class="btn btn-primary tf-btn color" style="display:block;float:left;position:relative;" />
                </div>
                <div style="width:100%;padding-top:30px;float:left;position:relative;background-color:#fccc70;">
                    <table>
                        <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Tìm:</td><td><input type="radio" name="ft" id="ft1" value="1">&nbsp;Chính xác cụm từ&nbsp;<input type="radio" name="ft" id="ft2" value="2" checked>&nbsp;Liên quan cụm từ&nbsp;</td></tr>
                        <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Lĩnh vực:</td><td><input type="radio" name="tps" id="tps1" value="1" checked>&nbsp;Tất cả&nbsp;<input type="radio" name="tps" id="tps2" value="2" >&nbsp;Tự động tìm trong lĩnh vực có nhiều từ khóa nhất&nbsp;</td></tr>
                        <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Tìm trong:</td><td> <input type="radio" name="st" id="st0" value="0" checked>&nbsp;Tất cả <input type="radio" name="st" id="st1" value="1">&nbsp;Tiêu đề&nbsp;<input type="radio" name="st" id="st2" value="2">&nbsp;Ký hiệu/Số&nbsp;<input type="radio" name="st" id="st4" value="4">&nbsp;Nội dung&nbsp;</td></tr>@*<input type="radio" name="st" id="st3" value="3">Chương, Điều*@
                        <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Còn hiệu lực:</td><td><input type="radio" name="status" id="status2" value="2" checked>&nbsp;Tất cả&nbsp;<input type="radio" name="status" id="status0" value="0">&nbsp;Còn hiệu lực&nbsp;<input type="radio" name="status" id="status1" value="1">&nbsp;Hết hiệu lực</td></tr>
                        <tr style="float:left;position:relative;width:100%;display:block;text-align:left;">
                            <td width="100px;">Sắp xếp theo:</td>  
                            <td>
                                <input type="radio" name="order" id="RANK" value="RANK" checked>&nbsp;Phù hợp nhất&nbsp;<input type="radio" name="order" id="views" value="views">&nbsp;Xem nhiều nhất
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="background-color:#ffffee;margin-top:10px;border:1px solid #ff6a00;border-radius:5px;float:left;position:relative;padding-left:5px;display:none;" id="filterdiv">
                <h4>Bộ lọc tìm kiếm</h4>
                <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
                    <section class="refinements-summary">
                        @if (ViewBag.f1 != "" || ViewBag.f2 != "" || ViewBag.f3 != "" || ViewBag.f4 != "")
                        {
                            <b>Đang lọc theo: </b>@Html.Raw(qlvb.Config.tags(@ViewBag.f1, @ViewBag.f2, @ViewBag.f3, @ViewBag.f4))

                            <a style="cursor:pointer;" onclick="resetCat();">xóa bộ lọc</a>
                        }
                    </section>
                </div>
                <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
                    @Html.Raw(@ViewBag.cat1)
                </div>
                <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
                    @Html.Raw(@ViewBag.cat2)
                </div>
                @*<div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
                    @Html.Raw(@ViewBag.cat3)
                </div>*@
                <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
                    @Html.Raw(@ViewBag.cat4)
                </div>
            </div>
            <div style="width:100%;float:left;position:relative;" id="contextlist">
                <div style="width:100%;margin-top:5px;">
                    <div class="span12">
                        @if (ViewBag.keyword != "")
                        {
                            <text> <h2>Tìm thấy các văn bản</h2></text>
                        }
                        else
                        {
                            <text> <h2>Xem nhiều nhất</h2></text>
                        }

                    </div>
                </div>
                <table class="table" style="border-collapse: collapse;border-spacing: 0;border-spacing: 2px;border-color: grey;border:1px solid #808080;">
                    @*<tr>
                        <th>
                            Ký hiệu
                        </th>
                        <th>
                            Tên văn bản
                        </th>
                        <th>
                            Lĩnh vực
                        </th>
                        <th>Loại văn bản</th>
                    </tr>*@

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td valign="top">
                                <div class="col-sm-12" style="background:#f1f1f1;width:100%;"><b style="float:left;"><a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&tps=@ViewBag.tps&ft=@ViewBag.ft&order=@ViewBag.order&to=@ViewBag.to" target="_blank">@qlvb.Config.getCatNameById(2, @item.cat2_id) @item.code</a></b></div>
                                <div class="row">
                                    <div class="col-sm-8" style="min-height:80px;float: left;position:relative;display:block;border-right: 1px dotted #ccc;padding-right:1%;text-align:left;padding-top:2px;" id="listviewleft">
                                        @*@if (item.RANK > 0 && count <= 2)
                                        {
                                            <a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&order=@ViewBag.order&to=@ViewBag.to" target="_blank" style="background-color:yellow;"><b>@item.name</b></a>
                                        }
                                        else
                                        {*@
                                        <a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&tps=@ViewBag.tps&ft=@ViewBag.ft&order=@ViewBag.order&to=@ViewBag.to" target="_blank" style="color:#131E32;"><b>@item.name</b> </a>
                                        @*}*@
                                        <p id="items_@item.id"></p>
                                        <script>
                                            if ("@ViewBag.keyword"!=""){
                                                getShortDesItemSearch(@item.id,"@ViewBag.keyword");
                                            }
                                        </script>
                                    </div>
                                    <div class="col-sm-4" style="float:right;height:80px;position:relative;display:block;" id="listviewright">
                                        <table>
                                            <tr><td style="text-align:left;width:50px;"><p style="font-size:12px;">Lĩnh vực: </p></td><td style="text-align:left;"><p style="font-size:12px;">@qlvb.Config.getCatNameById(1, @item.cat1_id)</p></td></tr>
                                            @if (item.date_publish != null)
                                            {
                                                <tr><td style="text-align:left;width:100px;"><p style="font-size:12px;">Ban hành: </p></td><td style="text-align:left;"><p style="font-size:12px;">@qlvb.Config.formatDDMMYYYY(@item.date_publish)</p></td></tr>
                                            }
                                            @if (item.date_start != null)
                                            {
                                                <tr><td style="text-align:left;width:100px;"><p style="font-size:12px;">Hiệu lực: </p></td><td style="text-align:left;"><p style="font-size:12px;">@qlvb.Config.formatDDMMYYYY(@item.date_start)</p></td></tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </td>

    @*<td align="left">
        <a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&order=@ViewBag.order&to=@ViewBag.to" target="_blank">@item.code</a>
    </td>
    <td align="left" style="width:55%;">
        @if (item.RANK > 0 && count <= 2)
        {
            <a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&order=@ViewBag.order&to=@ViewBag.to" target="_blank" style="background-color:yellow;"><b>@item.name</b></a>
        }
        else
        {   <a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&order=@ViewBag.order&to=@ViewBag.to" target="_blank">@item.name </a>}
    </td>
    <td align="left">
        @qlvb.Config.getCatNameById(1, @item.cat1_id)
    </td>
    <td align="left">
        @qlvb.Config.getCatNameById(2, @item.cat2_id)
    </td>*@
                        </tr>
                                count++;
                        //allHotKeyword+=@item.ke
                    }
                </table>
                <div>
                    Trang:
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <a onclick="setpage(@i);" style="cursor:pointer;">@i,</a>
                    }
                </div>

            </div>
            @*<section class="refinements-summary" style="text-align:left;"></section>
            <section class="refinements-summary" style="text-align:left;">
                <h2>Từ khóa nóng nhất</h2>
                <div id="allhotkeyword" style="text-align:left;">

                </div>
            </section>*@
        </div>

        <script>
            var pg=@ViewBag.page;
            var order="@ViewBag.order";
            var to="@ViewBag.to";
            var currentCat1="@ViewBag.f1";
            var currentCat2="@ViewBag.f2";
            var currentCat3="@ViewBag.f3";
            var currentCat4="@ViewBag.f4";
            var st=@ViewBag.st;
            var status=@ViewBag.status;
            var tps=@ViewBag.tps;
            var ft=@ViewBag.ft;
            //if (order.toString().indexOf("RANK")>=0){
            //    $("#order").val("RANK");
            //}
            //if (order.toString().indexOf("code")>=0 && to.toString().indexOf("Desc")>=0){
            //    $("#order").val(2);
            //}
            //if (order.toString().indexOf("code")>=0 && to.toString().indexOf("Asc")>=0){
            //    $("#order").val(3);
            //}
            //if (order.toString().indexOf("views")>=0){
            //    $("#order").val("views");
            //}
            if ("@ViewBag.keyword"!="") $("#filterdiv").show();

            document.getElementById("st"+@ViewBag.st).checked=true;
            document.getElementById("status"+@ViewBag.status).checked=true;
            document.getElementById("tps"+@ViewBag.tps).checked=true;
            document.getElementById("ft"+@ViewBag.ft).checked=true;
            document.getElementById("@ViewBag.order").checked=true;
            if (order=="") order="RANK";
            $("#order").val(order);
            function resetCat(){
                currentCat1="";
                currentCat2="";
                currentCat3="";
                currentCat4="";
                st=0;
                tps=1;
                ft=1;
                status=2;
                document.getElementById("st0").checked=true;
                document.getElementById("status2").checked=true;
                document.getElementById("tps1").checked=true;
                document.getElementById("ft1").checked=true;
                search();
            }
            function setCat(type,val){
                switch(type){
                    case 1:
                        currentCat1=val;
                        break;
                    case 2:
                        currentCat2=val;
                        break;
                    case 3:
                        currentCat3=val;
                        break;
                    case 4:
                        currentCat4=val;
                        break;
                }
                search();
            }
            function chooseOder(){
                if ($("#RANK").val()=="RANK"){
                    setorder('RANK','Desc');
                }
                    //else
                    //    if ($("#order").val()=="2"){
                    //        setorder('code','Desc');
                    //    }
                    //    else
                    //        if ($("#order").val()=="3"){
                    //            setorder('code','Asc');
                    //        }
                else
                    if ($("#views").val()=="views"){
                        setorder('views','Desc');
                    }
            }
            function setorder(field,t) {
                order=field;
                to=t;
                pg=1;
                search();
            }
            function setpage(page) {
                pg=page;
                search();
            }
            function search() {
                var url = "/?";
                var k = $("#word").val();
                if (k == "") {
                    alert("Nhập từ khóa!");
                    return;
                }
                var f1="";
                var f2="";
                var f3="";
                var f4="";
                f1=currentCat1;
                f2=currentCat2;
                f3=currentCat3;
                f4=currentCat4;
                st=$('input[name="st"]:checked').val();
                status=$('input[name="status"]:checked').val();
                tps=$('input[name="tps"]:checked').val();
                ft=$('input[name="ft"]:checked').val();
                order=$('input[name="order"]:checked').val();

                //alert(st);
                url += "k=" + k + "&f1=" + f1 + "&f2=" + f2 + "&f3=" + f3 + "&f4=" + f4 +"&st=" + st +"&status=" + status+"&tps=" + tps +"&ft=" + ft +"&order="+order+"&to="+to+"&pg="+pg;
                window.location.href = url;
            }
            //function search() {
            //    var word = document.getElementById("word").value;
            //    window.location.href = "/Document/Index?page=1&word=" + word;
            //}
            function autosearch(e) {
                var keyword = document.getElementById("word").value;
                urlSearch = '/Document/getDoc?keyword=';
                $('#word').autocomplete({
                    source: urlSearch + keyword,
                    select: function (event, ui) {
                        $(event.target).val(ui.item.value);
                        //search();
                        //alert(ui.item.id);
                        //window.open("/Document/Details?id="+ui.item.id+"&keyword="+keyword,"_blank");
                        return false;
                    },
                    minLength: 1
                });
                var keyCode = e.keyCode || e.which;//('which' in event) ? event.which : event.keyCode;

                //alert(keyCode);
                if (keyCode == 13) {
                    if (keyword == "") {
                        alert("Bạn phải nhập từ khóa");
                        return;
                    }else{
                        search();
                    }
                }
            }
            //$.getJSON("/Home/getAllHotKeyWord", null, function (data) {
            //    alert(data);
            //});
            $.ajax({
                url: "/Home/getAllHotKeyWord",
                cache: false
            }).done(function( html ) {
                $( "#allhotkeyword").html(html);
            });
            $.ajax({
                url: "/Home/getAllCat?id=1",
                cache: false
            }).done(function( html ) {
                $( "#allcat1").html(""+html);
            });
            $.ajax({
                url: "/Home/getAllCat?id=2",
                cache: false
            }).done(function( html ) {
                $( "#allcat2").html(""+html);
            });
            $.ajax({
                url: "/Home/Log?keyword=@ViewBag.keyword",
                cache: false
            }).done(function( html ) {

            });
            function searchkw(keyword) {
                var url = "/Home/Index?";
                var k = keyword;
                //if (k == "") {
                //    return;
                //}
                var f1 = "";
                var f2 = "";
                var f3 = "";
                var f4 = "";
                var st=0;
                var status=2;
                var tps=1;
                var ft=1;
                url += "k=" + k + "&f1=" + f1 + "&f2=" + f2 + "&f3=" + f3 + "&f4=" + f4+"&st=" + st +"&status=" + status+"&tps=" + tps +"&ft=" + ft;// + "&order=" + order + "&to=" + to + "&pg=" + pg
                window.location.href = url;
            }
            function gotoCat(type,id){
                if (type==1){
                    window.location.href ="/Document/Cat?cat11="+id;
                }
                if (type==2){
                    window.location.href ="/Document/Cat?cat22="+id;
                }
            }
        </script>
        <script src="/Scripts/mark.js"></script>
        <script>
            var instance = new Mark(document.getElementById("contextlist"));
            instance.mark("@ViewBag.keyword");
        </script>

