@model qlvb.Models.cat2

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<div id="tf-services" style="width:100%;padding-top:100px;">
<div class="container">
<h2>Sửa Loại văn bản</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
       

        <div class="editor-label">
            Tên loại văn bản
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <div class="editor-label">
            Hệ số(càng lớn càng xếp trên cùng khi lọc)
        </div>
        <div class="editor-field">
            <input type="text" name="no" id="no" value="@Model.no" style="width:300px;">
        </div>
        

        <p>
            <input type="submit" value="Sửa" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>
</div>
