@model IEnumerable<qlvb.Models.cat1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<div id="tf-services" style="width:100%;padding-top:100px;">
<div class="container">
<h3>Lĩnh Vực Văn Bản</h3>
<p>
    <img src="/Images/create.png">@Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Tên lĩnh vực
        </th>
        <th>Hệ số</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td align="left">
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td align="left">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td align="left">
            @Html.DisplayFor(modelItem => item.no)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id }) |            
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
</div>
</div>