@model PagedList.IPagedList<qlvb.Models.cat4>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="tf-services">
<div class="container">
<div style="width:100%;padding-top:30px;">
    <input type="text" class="form-control" placeholder="Từ khóa" id="word" name="word" style="width:60%;display:block;float:left;position:relative;" onkeyup="autosearch();">
    <input type="button" value="tìm kiếm" onclick="search();" class="btn btn-primary tf-btn color" style="display:block;float:left;position:relative;"/>
</div>
<div style="width:100%;padding-top:30px;">
    <h3>Danh mục Cơ quan ban hành</h3>
    <p>
        <img src="/Images/create.png">@Html.ActionLink("Thêm Mới", "Create")
    </p>
</div>
<table class="table">
    <tr>
        @*<th>
            Id
        </th>*@
        <th>
            Tên Cơ quan ban hành
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.id)
        </td>*@
        <td align="left">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id }) |            
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}
</table>
 <div>Trang:
@for (int i = 1; i <= Model.PageCount; i++){
                                        <a href="/Cat4?word=@ViewBag.word&page=@i" style="cursor:pointer;">@i,</a>
                                    }
</div>
</div>
</div>
<script>
    function search() {
        var word = document.getElementById("word").value;
        window.location.href = "/Cat4/Index?page=1&word=" + word;
    }
    function autosearch() {
        var keyword = document.getElementById("word").value;
        urlSearch = '/Home/getCat4?keyword=';
        $('#word').autocomplete({
            source: urlSearch + keyword,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                search();
                return false;
            },
            minLength: 1
        });
    }
</script>