@model qlvb.Models.document

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id=addnewcat style="width:50%;display:block;float:left;position:fixed;top:40%;left:25%;background-color:#c8e19b;z-index:1001;text-align:center;display:none;">
    <label class="label" id="addnewcatlabel">Thêm mới *:</label><input type="text" class="form-control" placeholder="Nhập giá trị" id="addvalue" name="addvalue" style="width:100%;display:block;float:left;position:relative;border-color:#808080" >
    <input type="button" value="Thêm mới" onclick="addnewcat();" class="btn btn-primary tf-btn color" style="position:relative; width:100px;"/>
    <input type="button" value="Đóng lại" onclick="$('#addnewcat').hide();" class="btn btn-primary tf-btn color" style="position:relative; width:100px;"/>
</div>    
<div id="progressbar" class="progressbar" style="width:50%;float:left;position:fixed;top:40%;left:25%;background-color:#c8e19b;z-index:1002;text-align:center;display:block;display:none">
      <div id="progresslabel" class="progressbarlabel" style="width:100%;float:left;height:100px;background-color:#ff6a00;color:#ffffff;">
          <div id="progresslabelpr" style="width:1px;float:left;height:100px;background-color:blue;color:#ffffff;position:absolute;text-align:center;font-size:24px"></div>
      </div>
</div>
<div id="tf-services">
<div class="container">
<h2>Thêm mới Văn bản</h2>
<script>
    var currentTypeCat = 1;
    var idDocument=@ViewBag.id;
    //var keyword1="";
    //var keyword2="";
    function getCat(type, id) {
        var formdata = new FormData(); //FormData object
        formdata.append("type", type);
        //showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/getCat');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var sl = "<option value=-2 selected>Chọn</option>";
                var news = '{"news":' + xhr.responseText + '}';
                var json_parsed = $.parseJSON(news);
                //alert(xhr.responseText);
                for (var i = 0; i < json_parsed.news.length; i++) {
                    if (json_parsed.news[i]) {
                        var name = json_parsed.news[i].name;
                        var iditem = json_parsed.news[i].id;
                        sl += "<option value=" + iditem + ">" + name + "</option>";
                    }
                }

                switch (type) {
                    case 1:
                        $("#cat1").html(sl);
                        if (id!=-1) $("#cat1").val(id);
                        $("#cat1").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                    case 2:
                        $("#cat2").html(sl);
                        if (id != -1) $("#cat2").val(id);
                        $("#cat2").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                    case 3:
                        $("#cat3").html(sl);
                        if (id != -1) $("#cat3").val(id);
                        $("#cat3").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                    case 4:
                        $("#cat4").html(sl);
                        if (id != -1) $("#cat4").val(id);
                        $("#cat4").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                }
                
              
                
                
            }
        }
        return false;
    }
</script>
<div id="tf-services">
    <div class="container">
        <div style="width:100%;">
        <label class="label">Chọn file *:</label><input name="imageFile" type="file" id="imageFile" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcess();"/>                                
        
        <iframe id="namelabel" src="https://docs.google.com/viewer?url=http://vbpl.vn/TW/Lists/vbpq/Attachments/96251/06.2016.ND.CP.doc&embedded=true" class="form-control" style="width:100%;display:none;float:left;position:relative;height:400px;"></iframe>      
        <label class="label" >Tiêu đề *:</label><input type="text" class="form-control" placeholder="Nhập tiêu đề văn bản" id="name" name="name" value="@ViewBag.name" style="width:100%;display:block;float:left;position:relative;">
        <label class="label">Ký hiệu *:</label><input type="text" class="form-control" placeholder="Nhập ký hiệu văn bản: ví dụ 72/2015/TT-BTNMT" id="code" name="code" value="@ViewBag.code" style="width:100%;display:block;float:left;position:relative;" onblur="checkDuplicate(this.value);">
        <label class="label">Lĩnh vực *:</label><select id="cat1" name="cat1" class="form-control" onchange="chooseCat(1);"></select>
        <script>getCat(1,"@ViewBag.cat1");</script>
        <label class="label">Loại văn bản *:</label><select id="cat2" name="cat2" class="form-control" onchange="chooseCat(2);"></select>       
        <script>getCat(2,"@ViewBag.cat2");</script>
        <label class="label">Người ký *:</label><select id="cat3" name="cat3" class="form-control" onchange="chooseCat(3);"></select>
        <script>getCat(3,"@ViewBag.cat3");</script>
        <label class="label">Cơ quan ban hành *:</label><select id="cat4" name="cat4" class="form-control" onchange="chooseCat(4);"></select> 
        <script>getCat(4, "@ViewBag.cat4");</script>   
        <label class="label">Năm ban hành *:</label><select id="year" name="year" class="form-control" onchange="chooseCat(4);"></select> 
        <script>getYear(@ViewBag.year);</script>         
        <input type="hidden" id="keyword1" name="keyword1" value="@ViewBag.keyword1">
        <input type="hidden" id="keyword2" name="keyword2" value="@ViewBag.keyword2">
        <input type="hidden" id="link" name="link" value="@ViewBag.link">
        <input type="hidden" id="related_id" name="related_id" value="@ViewBag.related_id">  
        <input type="button" value="Save" onclick="addNewDocument();" class="btn btn-primary tf-btn color" style="position:relative; width:100px;"/>      
        <a href="/Document/Index">&nbsp;Quay lại danh sách</a>
        @*<label class="label">Tập từ khóa quan trọng 2:</label><textarea  class="form-control" placeholder="Những từ khóa key có độ quan trọng cao thứ nhì do phần mềm tự động nhận dạng" id="keyword2" name="keyword2" style="width:100%;display:block;float:left;position:relative;" ></textarea>
        <label class="label">Tập từ khóa quan trọng 3:</label><textarea  class="form-control" placeholder="Những từ khóa key có độ quan trọng cao thứ ba do phần mềm tự động nhận dạng" id="keyword3" name="keyword3" style="width:100%;display:block;float:left;position:relative;" ></textarea>*@

        </div>
    </div>
</div>
<script>
    function uploadProcess() {
     
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFile');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            break;
        }
        //formdata.append("filename", title);
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                //$("#progressbar").progressbar("value", progress);
                $("#progresslabelpr").css("width",progress+"%");
                $("#progresslabelpr").html(progress+"%");
            }
        }, false);

        xhr.open('POST', '/Document/UploadDocProcess');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //$('#imageShow').html("<img src=\"" + xhr.responseText + "\" width=200 height=126>");
                //$('#image').val(xhr.responseText);
                //$('#dvimagefile').show();
                //hideLoadingImage();
                //alert(xhr.responseText);
                var items = xhr.responseText.split("____________");
                $('#name').val(items[1]);
                $('#code').val(items[0]);                
                $('#link').val(items[3]);
                var text2 = items[4];
                var ddcat2 = document.getElementById('cat2');
                for (var i = 0; i < ddcat2.options.length; i++) {
                    if (ddcat2.options[i].text === text2) {
                        ddcat2.selectedIndex = i;
                        break;
                    }
                }
                $('#keyword1').val(items[2]);
                $('#keyword2').val(items[6]);
                $('#year').val(items[5]);
                $('#namelabel').show();
                $('#namelabel').attr("src",'https://docs.google.com/viewer?url=@qlvb.Config.domain/Files/'+items[3]+'&embedded=true');    
                checkDuplicate(items[0]);
                hideLoadingImage();    
            }
        }
        return false;
    }
    function checkDuplicate(code){
        var formdata = new FormData(); //FormData object
        formdata.append("code", code);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Document/checkDuplicate');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //alert(xhr.responseText);
                if (xhr.responseText=="True"){
                    alert("Văn bản có mã là "+code+" đã tồn tại trong hệ thống. Kiểm tra lại!");
                    document.getElementById("code").focus();
                }
            }
        }
    }
    function chooseCat(type) {
        
        switch(type){
            case 1:
                if ($('#cat1').val() == -1) {
                    $('#addnewcat').show();
                    $('#addnewcatlabel').html("Thêm mới lĩnh vực văn bản");
                    currentTypeCat = 1;
                }
                break;
            case 2:
                if ($('#cat2').val() == -1) {
                    $('#addnewcat').show();
                    $('#addnewcatlabel').html("Thêm mới loại văn bản");
                    currentTypeCat = 2;
                }
                break;
            case 3:
                if ($('#cat3').val() == -1) {
                    $('#addnewcat').show();
                    $('#addnewcatlabel').html("Thêm mới người ký văn bản");
                    currentTypeCat = 3;
                }
                break;
            case 4:
                if ($('#cat4').val() == -1) {
                    $('#addnewcat').show();
                    $('#addnewcatlabel').html("Thêm mới cơ quan ban hành văn bản");
                    currentTypeCat = 4;
                }
                break;
        }
    }
    function addnewcat() {
        if (document.getElementById("addvalue").value == "") {
            alert("Nhập giá trị");
            document.getElementById("addvalue").focus();
            return;
        }
        var formdata = new FormData(); //FormData object
       
        formdata.append("type", currentTypeCat);
        formdata.append("value", document.getElementById("addvalue").value);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Document/addNewCat');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var items = xhr.responseText.split("____________");
                switch (currentTypeCat) {
                    case 1:
                        $("#cat1").append("<option value=" + items[0] + ">" + items[1] + "</option>");
                        $("#cat1").val(items[0]);
                        break;
                    case 2:
                        $("#cat2").append("<option value=" + items[0] + ">" + items[1] + "</option>");
                        $("#cat2").val(items[0]);
                        break;
                    case 3:
                        $("#cat3").append("<option value=" + items[0] + ">" + items[1] + "</option>");
                        $("#cat3").val(items[0]);
                        break;
                    case 4:
                        $("#cat4").append("<option value=" + items[0] + ">" + items[1] + "</option>");
                        $("#cat4").val(items[0]);
                        break;
                }
                $('#addnewcat').hide();
            }
        }
    }
    function addNewDocument() {
        
        if (idDocument==-1 && document.getElementById("imageFile").value == "") {
            alert("Chọn file văn bản");
            document.getElementById("imageFile").focus();
            return;
        }
        if (document.getElementById("name").value == "") {
            alert("Nhập tiêu đề");
            document.getElementById("name").focus();
            return;
        }
        if (document.getElementById("code").value == "") {
            alert("Nhập ký hiệu văn bản");
            document.getElementById("code").focus();
            return;
        }
        if (document.getElementById("cat1").value == -2) {
            alert("Nhập lĩnh vực văn bản");
            document.getElementById("cat1").focus();
            return;
        }
        if (document.getElementById("cat2").value == -2) {
            alert("Nhập loại văn bản");
            document.getElementById("cat2").focus();
            return;
        }
        if (document.getElementById("cat3").value == -2) {
            alert("Nhập người ký văn bản");
            document.getElementById("cat3").focus();
            return;
        }
        if (document.getElementById("cat4").value == -2) {
            alert("Nhập cơ quan ban hành");
            document.getElementById("cat4").focus();
            return;
        }
        if (document.getElementById("year").value == -2) {
            alert("Nhập năm ban hành");
            document.getElementById("year").focus();
            return;
        }
        document.getElementById("btnAddNew").disabled=true;
        var formdata = new FormData(); //FormData object

        formdata.append("id", idDocument);
        formdata.append("name", document.getElementById("name").value);
        formdata.append("code", document.getElementById("code").value);
        formdata.append("link", document.getElementById("link").value);
        formdata.append("keyword1", document.getElementById("keyword1").value);
        formdata.append("keyword2", document.getElementById("keyword2").value);
        formdata.append("cat1", document.getElementById("cat1").value);
        formdata.append("cat2", document.getElementById("cat2").value);
        formdata.append("cat3", document.getElementById("cat3").value);
        formdata.append("cat4", document.getElementById("cat4").value);
        formdata.append("year", document.getElementById("year").value);
        formdata.append("related_id", document.getElementById("related_id").value);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Document/addNewDocument');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText=="1"){
                    window.location.href="/Document/Index";
                }else{
                    alert("Lỗi định dạng văn bản");
                }
                document.getElementById("btnAddNew").disabled=false;
            }
        }
    }
</script>