@model qlvb.Models.document

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id=addnewcat style="width:50%;display:block;float:left;position:fixed;top:40%;left:25%;background-color:#c8e19b;z-index:1001;text-align:center;">
    <label class="label" id="addnewcatlabel">Thêm mới *:</label><input type="text" class="form-control" placeholder="Nhập giá trị" id="addvalue" name="addvalue" style="width:100%;display:block;float:left;position:relative;border-color:#808080" >
    <input type="button" value="Thêm mới" onclick="addnewcat();" class="btn btn-primary tf-btn color" style="position:relative; width:100px;"/>
    <input type="button" value="Đóng lại" onclick="$('#addnewcat').hide();" class="btn btn-primary tf-btn color" style="position:relative; width:100px;"/>
</div>    
<div id="tf-services">
<div class="container">
<h2>Thêm mới Văn bản</h2>
<script>
    function getCat(type, id) {
        var formdata = new FormData(); //FormData object
        formdata.append("type", type);
        //showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/getCat');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var sl = "";
                var news = '{"news":' + xhr.responseText + '}';
                var json_parsed = $.parseJSON(news);
                //alert(xhr.responseText);
                for (var i = 0; i < json_parsed.news.length; i++) {
                    if (json_parsed.news[i]) {
                        var name = json_parsed.news[i].name;
                        var iditem = json_parsed.news[i].id;
                        sl += "<option value=" + iditem + ">" + name + "</option>";
                    }
                }

                switch (type) {
                    case 1:
                        $("#cat1").html(sl);
                        $("#cat1").val(id);
                        $("#cat1").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                    case 2:
                        $("#cat2").html(sl);
                        $("#cat2").val(id);
                        $("#cat2").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                    case 3:
                        $("#cat3").html(sl);
                        $("#cat3").val(id);
                        $("#cat3").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                    case 4:
                        $("#cat4").html(sl);
                        $("#cat4").val(id);
                        $("#cat4").append("<option value=-1>Click để thêm mới vào danh sách</option>");
                        break;
                }
                
              
                
                
            }
        }
        return false;
    }
</script>
<div id="tf-services">
    <div class="container">
        <div style="width:100%;padding-top:30px;">
        <label class="label">Chọn file *:</label><input name="imageFile" type="file" id="imageFile" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcess();"/>                                
        <div id="progressbar" class="progressbar">
             <div id="progresslabel" class="progressbarlabel"></div>
        </div>  
        <label class="label">Tiêu đề *:</label><input type="text" class="form-control" placeholder="Nhập tiêu đề văn bản" id="name" name="name" style="width:100%;display:block;float:left;position:relative;" >
        <label class="label">Ký hiệu *:</label><input type="text" class="form-control" placeholder="Nhập ký hiệu văn bản: ví dụ 72/2015/TT-BTNMT" id="code" name="code" style="width:100%;display:block;float:left;position:relative;" onkeyup="autocheck();">
        <label class="label">Lĩnh vực *:</label><select id="cat1" name="cat1" class="form-control" onchange="chooseCat(1);"></select>
        <script>getCat(1,"@ViewBag.cat1");</script>
        <label class="label">Loại văn bản *:</label><select id="cat2" name="cat2" class="form-control" onchange="chooseCat(2);"></select>       
        <script>getCat(2,"@ViewBag.cat2");</script>
        <label class="label">Người ký *:</label><select id="cat3" name="cat3" class="form-control" onchange="chooseCat(3);"></select>
        <script>getCat(3,"@ViewBag.cat3");</script>
        <label class="label">Cơ quan ban hành *:</label><select id="cat4" name="cat4" class="form-control" onchange="chooseCat(4);"></select> 
        <script>getCat(4, "@ViewBag.cat4");</script>
        <input type="hidden" id="auto_des" name="auto_des" value="@ViewBag.auto_des">
        <input type="hidden" id="keyword1" name="keyword1" value="@ViewBag.keyword1">
        <input type="hidden" id="link" name="link" value="@ViewBag.link">
        @*<label class="label">Tập từ khóa quan trọng 2:</label><textarea  class="form-control" placeholder="Những từ khóa key có độ quan trọng cao thứ nhì do phần mềm tự động nhận dạng" id="keyword2" name="keyword2" style="width:100%;display:block;float:left;position:relative;" ></textarea>
        <label class="label">Tập từ khóa quan trọng 3:</label><textarea  class="form-control" placeholder="Những từ khóa key có độ quan trọng cao thứ ba do phần mềm tự động nhận dạng" id="keyword3" name="keyword3" style="width:100%;display:block;float:left;position:relative;" ></textarea>*@

        </div>
    </div>
</div>
<script>
    function uploadProcess() {
     
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFile');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            break;
        }
        //formdata.append("filename", title);
        //showLoadingImage();
        var xhr = new XMLHttpRequest();
        //xhr.upload.addEventListener("progress", function (evt) {
        //    if (evt.lengthComputable) {
        //        var progress = Math.round(evt.loaded * 100 / evt.total);
        //        $("#progressbar").progressbar("value", progress);
        //    }
        //}, false);

        xhr.open('POST', '/Document/UploadDocProcess');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //$('#imageShow').html("<img src=\"" + xhr.responseText + "\" width=200 height=126>");
                //$('#image').val(xhr.responseText);
                //$('#dvimagefile').show();
                //hideLoadingImage();
                //alert(xhr.responseText);
                var items = xhr.responseText.split("____________");
                $('#name').val(items[1]);
                $('#code').val(items[0]);
                $('#keyword1').val(items[2]);
                $('#link').val(items[3]);
            }
        }
        return false;
    }
    function chooseCat(type) {
        var value=$("#")
        if ()
        $('#addnewcat').show();
        switch(type){
            case 1:
                $('#addnewcatlabel').html("Thêm mới lĩnh vực văn bản");
                break;
            case 2:
                $('#addnewcatlabel').html("Thêm mới loại văn bản");
                break;
            case 3:
                $('#addnewcatlabel').html("Thêm mới người ký văn bản");
                break;
            case 4:
                $('#addnewcatlabel').html("Thêm mới cơ quan ban hành văn bản");
                break;
        }
    }
</script>