@model qlvb.Models.document

@{
    ViewBag.Title = Model.name+"-"+Model.code;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table tr {
        border-bottom: 1px dotted #ccc;
        height:auto;
        
        
    }
</style>


<div id="tf-services" style="width:100%;padding-top:100px;">
    <div class="container">
        <div style="width:100%;text-align:center;padding-top:30px;">  
        
        <iframe id="namelabel" src="https://docs.google.com/viewer?url=@qlvb.Config.domain/Files/@Model.link&embedded=true" class="form-control" style="width:100%;float:left;position:relative;height:400px;"></iframe>      
        <table style="width:100%;text-align:center;">
            <tr>
                <td class="label">Tiêu đề :</td><td >@Model.name</td>
            </tr>
            <tr>
                <td class="label">Tải về :</td><td ><a href="/Files/@Model.link" style="text-decoration:underline;">Download</a></td>
            </tr>
            <tr>
                <td class="label">Ký hiệu :</td><td >@Model.code</td>
            </tr>
            <tr>
                <td class="label">Lĩnh vực :</td><td >@qlvb.Config.getCatNameById(1,@Model.cat1_id)</td>
            </tr>
            <tr>        
                <td class="label">Loại văn bản :</td><td >@qlvb.Config.getCatNameById(2,@Model.cat2_id)</td>     
            </tr>
            <tr>       
                <td class="label">Người ký :</td><td >@qlvb.Config.getCatNameById(3,@Model.cat3_id)</td>
            </tr>
            <tr>
                <td class="label">Cơ quan ban hành :</td><td >@qlvb.Config.getCatNameById(4,@Model.cat4_id)</td>
            </tr>
            <tr>
                <td class="label">Năm ban hành :</td><td >@Model.year</td>
             </tr>
             <tr>
                <td class="label">Tập từ khóa 1(từ tiêu đề văn bản) :</td><td ><section class="refinements-summary">@Html.Raw(@qlvb.Config.hashtags(@Model.keyword1))</section></td>
             </tr>
            <tr>
                <td class="label">Tập từ khóa 2(từ điều 1, điều 2...) :</td><td ><section class="refinements-summary">@Html.Raw(@qlvb.Config.hashtags(@Model.keyword2))</section></td>
             </tr>
            <tr>
                <td class="label">Tập từ khóa 3(từ chương 1, chương 2...) :</td><td ><section class="refinements-summary">@Html.Raw(@qlvb.Config.hashtags(@Model.keyword3))</section></td>
             </tr>
            <tr>
                <td class="label">Tập từ khóa 4(các từ khóa lặp đi lặp lại nhiều nhất) :</td><td ><section class="refinements-summary">@Html.Raw(@qlvb.Config.hashtags(@Model.keyword4))</section></td>
             </tr>
            <tr>
                <td class="label">Tập từ khóa 5(các văn bản khác có liên quan, hoặc xuất hiện trong nội dung văn bản này) :</td><td ><section class="refinements-summary1">@Html.Raw(@qlvb.Config.viewallhashtags(@Model.keyword5,@Model.code))</section></td>
             </tr>
            <tr>
                <td class="label">Văn bản sửa đổi/bổ sung/hướng dẫn/điều chỉnh/thay thế đến :</td><td ><section class="refinements-summary2">@Html.Raw(@qlvb.Config.viewhashtags(@Model.link_to))</section></td>
             </tr>
            <tr>
                <td class="label">Văn bản căn cứ từ các văn bản:</td><td ><section class="refinements-summary3">@Html.Raw(@qlvb.Config.viewhashtags(@Model.be_linked))</section></td>
             </tr>
        </table> 
        <div style="text-align:center;display:block;position:relative;float:left;width:100%;"><a href="/Document/Index" style="color:blue;"><--Quay lại danh sách</a></div>
        
    </div>
</div>
</div>
<script>
    function searchkw(keyword) {
        var url = "/Home/Index?";
        var k = keyword;
        //if (k == "") {
        //    return;
        //}
        var f1 = "";
        var f2 = "";
        var f3 = "";
        var f4 = "";
        
        url += "k=" + k + "&f1=" + f1 + "&f2=" + f2 + "&f3=" + f3 + "&f4=" + f4;// + "&order=" + order + "&to=" + to + "&pg=" + pg
        window.location.href = url;
    }
</script>