@model qlvb.Models.document

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div id="tf-services">
    <div class="container">
        <div style="width:100%;text-align:center;">  
        
        <iframe id="namelabel" src="https://docs.google.com/viewer?url=@qlvb.Config.domain/Files/@Model.link&embedded=true" class="form-control" style="width:100%;float:left;position:relative;height:400px;"></iframe>      
        <table style="width:100%;text-align:center;">
            <tr>
                <td class="label">Tiêu đề *:</td><td >@Model.name</td>
            </tr>
            <tr>
                <td class="label">Ký hiệu *:</td><td >@Model.code</td>
            </tr>
            <tr>
                <td class="label">Lĩnh vực *:</td><td >@qlvb.Config.getCatNameById(1,@Model.cat1_id)</td>
            </tr>
            <tr>        
                <td class="label">Loại văn bản *:</td><td >@qlvb.Config.getCatNameById(2,@Model.cat2_id)</td>     
            </tr>
            <tr>       
                <td class="label">Người ký *:</td><td >@qlvb.Config.getCatNameById(3,@Model.cat3_id)</td>
            </tr>
            <tr>
                <td class="label">Cơ quan ban hành *:</td><td >@qlvb.Config.getCatNameById(4,@Model.cat4_id)</td>
            </tr>
            <tr>
                <td class="label">Năm ban hành *:</td><td >@Model.year</td>
             </tr>
        </table> 
        <div style="text-align:center;display:block;position:relative;float:left;width:100%;"><a href="/Document/Index" style="color:blue;"><--Quay lại danh sách</a></div>
        
    </div>
</div>
</div>
