
@model PagedList.IPagedList<qlvb.Controllers.DocumentController.searchitem>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tìm Kiếm Văn Bản Quy Phạm";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
    string allFilter = ViewBag.f1 + "," + ViewBag.f2 + "," + ViewBag.f3 + "," + ViewBag.f4;
    int count = 0;
    string allHotKeyword = "";
}

<div class="col-sm-12" style="margin-top:60px;float:left;position:relative;display:block;" >
    <div style="background-color:#fccc70;margin-top:10px;border:1px solid #ff6a00;border-radius:5px;float:left;position:relative;padding-left:5px;">
        <div style="width:100%;float:left;position:relative;margin-top:3px;background-color:#fccc70;">
            <h3 style="text-align:left;">Tìm kiếm văn bản</h3>
            <input type="text" class="form-control" placeholder="Từ khóa" id="word" name="word" value="@ViewBag.keyword" style="width:60%;display:block;float:left;position:relative;" onkeyup="autosearch(event);">
            <input type="button" value="tìm kiếm" onclick="search();" class="btn btn-primary tf-btn color" style="display:block;float:left;position:relative;" />
        </div>
        <div style="width:100%;padding-top:30px;float:left;position:relative;background-color:#fccc70;">
            <table>
                <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Chính xác:</td><td><input type="radio" name="ft" id="ft1" value="1" checked>&nbsp;Chính xác cụm từ trên&nbsp;<input type="radio" name="ft" id="ft2" value="2" >&nbsp;Liên quan cụm từ trên&nbsp;</td></tr>
                <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Kiểu tìm:</td><td><input type="radio" name="tps" id="tps1" value="1">&nbsp;Tất cả&nbsp;<input type="radio" name="tps" id="tps2" value="2" checked>&nbsp;Tự động tìm trong lĩnh vực có nhiều từ khóa nhất&nbsp;</td></tr>
                <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Tìm trong:</td><td> <input type="radio" name="st" id="st0" value="0" checked>&nbsp;Tất cả <input type="radio" name="st" id="st1" value="1">&nbsp;Tiêu đề&nbsp;<input type="radio" name="st" id="st2" value="2">&nbsp;Ký hiệu/Số&nbsp;<input type="radio" name="st" id="st4" value="4">&nbsp;Toàn văn&nbsp;</td></tr>@*<input type="radio" name="st" id="st3" value="3">Chương, Điều*@
                <tr style="float:left;position:relative;width:100%;display:block;text-align:left;"><td width="100px;">Còn hiệu lực:</td><td><input type="radio" name="status" id="status2" value="2" checked>&nbsp;Tất cả&nbsp;<input type="radio" name="status" id="status0" value="0">&nbsp;Còn hiệu lực&nbsp;<input type="radio" name="status" id="status1" value="1">&nbsp;Hết hiệu lực</td></tr>
                <tr style="float:left;position:relative;width:100%;display:block;text-align:left;">
                    <td width="100px;">Sắp xếp theo:</td>
                    <td>
                        <select id="order">
                            <option value="-1">Chọn</option>
                            <option value="RANK" selected>Phù hợp nhất</option>
                            <option value="views">Xem nhiều nhất</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="background-color:#ffffee;margin-top:10px;border:1px solid #ff6a00;border-radius:5px;float:left;position:relative;padding-left:5px;display:none;" id="filterdiv">
        <h4>Bộ lọc tìm kiếm</h4>
        <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
            <section class="refinements-summary">
                @if (ViewBag.f1 != "" || ViewBag.f2 != "" || ViewBag.f3 != "" || ViewBag.f4 != "")
                {
                    <b>Đang lọc theo: </b>@Html.Raw(qlvb.Config.tags(@ViewBag.f1, @ViewBag.f2, @ViewBag.f3, @ViewBag.f4))
                    <a style="cursor:pointer;" onclick="resetCat();">xóa bộ lọc</a>
                }
            </section>
        </div>
        <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
            @Html.Raw(@ViewBag.cat1)
        </div>
        <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
            @Html.Raw(@ViewBag.cat2)
        </div>
        @*<div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
                @Html.Raw(@ViewBag.cat3)
            </div>*@<div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
        </div>
        <div style="width:100%;float:left;display:block;text-align: left;margin-top:2px;">
            @Html.Raw(@ViewBag.cat4)
        </div>
    </div>

    <div style="width:100%;margin-top:130px;">
        <div style="width:100%;">
            <div class="span12">
                @if (ViewBag.keyword != "")
                {
                    <text> <h4 style="padding-top:20px;margin-top:20px;">Tìm thấy các văn bản</h4></text>
                }
                else
                {
                    <text> <h4>Xem nhiều nhất</h4></text>
                }
                &nbsp;<a href="/Document/Create">Thêm Mới Văn Bản<img src="~/Images/create.png" /></a>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    Tên văn bản
                </th>
                <th>
                    Lĩnh vực
                </th>
                <th>Loại văn bản</th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="left" style="width:55%;">
                        @if (item.RANK > 0 && count <= 2)
                        {
                            <a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&tps=@ViewBag.tps&ft=@ViewBag.ft&order=@ViewBag.order&to=@ViewBag.to" target="_blank" style="background-color:yellow;"><b>@item.name-@item.code</b></a>
                        }
                        else
                        {   <a href="/Document/Details?id=@item.id&keyword=@ViewBag.keyword&f1=@ViewBag.f1&f2=@ViewBag.f2&f3=@ViewBag.f3&f4=@ViewBag.f4&st=@ViewBag.st&status=@ViewBag.status&tps=@ViewBag.tps&ft=@ViewBag.ft&order=@ViewBag.order&to=@ViewBag.to" target="_blank">@item.name-@item.code </a>}
                    </td>
                    <td align="left">
                        @qlvb.Config.getCatNameById(1, @item.cat1_id)
                    </td>
                    <td align="left">
                        @qlvb.Config.getCatNameById(2, @item.cat2_id)
                    </td>
                    <td><a href="/Document/Create?id=@item.id">Sửa</a>- <a href="/Document/Delete/@item.id">Xóa</a></td>
                </tr>
                        count++;
                //allHotKeyword+=@item.ke
            }
        </table>
        <div>
            Trang:
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <a onclick="setpage(@i);" style="cursor:pointer;">@i,</a>
            }
        </div>
    </div>
</div>

</div>
@*<section class="refinements-summary" style="text-align:left;">
    <h2>Thống kê</h2>
    <div id="allcat1" style="text-align:left;">
    </div>
    <div id="allcat2" style="text-align:left;">

    </div>
</section>
<section class="refinements-summary" style="text-align:left;">
    <h2>Từ khóa nóng nhất</h2>
    <div id="allhotkeyword" style="text-align:left;">

    </div>
</section>*@
<script>
    var pg=@ViewBag.page;
    var order="@ViewBag.order";
    var to="@ViewBag.to";
    var currentCat1="@ViewBag.f1";
    var currentCat2="@ViewBag.f2";
    var currentCat3="@ViewBag.f3";
    var currentCat4="@ViewBag.f4";
    var st=@ViewBag.st;
    var status=@ViewBag.status;
    var tps=@ViewBag.tps;
    var ft=@ViewBag.ft;
    //if (order.toString().indexOf("RANK")>=0){
    //    $("#order").val(1);
    //}
    //if (order.toString().indexOf("code")>=0 && to.toString().indexOf("Desc")>=0){
    //    $("#order").val(2);
    //}
    //if (order.toString().indexOf("code")>=0 && to.toString().indexOf("Asc")>=0){
    //    $("#order").val(3);
    //}
    //if (order.toString().indexOf("views")>=0){
    //    $("#order").val(2);
    //}
    if ("@ViewBag.keyword"!="") $("#filterdiv").show();
    document.getElementById("st"+@ViewBag.st).checked=true;
    document.getElementById("status"+@ViewBag.status).checked=true;
    document.getElementById("tps"+@ViewBag.tps).checked=true;
    document.getElementById("ft"+@ViewBag.ft).checked=true;
    if (order=="") order="RANK";
    $("#order").val(order);
    function resetCat(){
        currentCat1="";
        currentCat2="";
        currentCat3="";
        currentCat4="";
        search();
    }
    function setCat(type,val){
        switch(type){
            case 1:
                currentCat1=val;
                break;
            case 2:
                currentCat2=val;
                break;
            case 3:
                currentCat3=val;
                break;
            case 4:
                currentCat4=val;
                break;
        }
        search();
    }
    function chooseOder(){
        if ($("#order").val()=="1"){
            setorder('RANK','Desc');
        }
            //else
            //    if ($("#order").val()=="2"){
            //        setorder('code','Desc');
            //    }
            //    else
            //        if ($("#order").val()=="3"){
            //            setorder('code','Asc');
            //        }
        else
            if ($("#order").val()=="2"){
                setorder('views','Desc');
            }
    }
    function setorder(field,t) {
        order=field;
        to=t;
        pg=1;
        search();
    }
    function setpage(page) {
        pg=page;
        search();
    }
    function search() {
        var url = "";
        var k = $("#word").val();
        //if (k == "") {
        //    return;
        //}
        var f1="";
        var f2="";
        var f3="";
        var f4="";
        f1=currentCat1;
        f2=currentCat2;
        f3=currentCat3;
        f4=currentCat4;
        st=$('input[name="st"]:checked').val();
        status=$('input[name="status"]:checked').val();
        tps=$('input[name="tps"]:checked').val();
        ft=$('input[name="ft"]:checked').val();
        order=$('#order').val();
        //alert(st);
        url += "/Document/?k=" + k + "&f1=" + f1 + "&f2=" + f2 + "&f3=" + f3 + "&f4=" + f4 +"&st=" + st +"&status=" + status+"&tps=" + tps +"&ft=" + ft +"&order="+order+"&to="+to+"&pg="+pg;
        window.location.href = url;
    }
    //function search() {
    //    var word = document.getElementById("word").value;
    //    window.location.href = "/Document/Index?page=1&word=" + word;
    //}
    function autosearch(e) {
        var keyword = document.getElementById("word").value;
        urlSearch = '/Document/getDoc?keyword=';
        $('#word').autocomplete({
            source: urlSearch + keyword,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                //search();
                //alert(ui.item.id);
                //window.open("/Document/Details?id="+ui.item.id+"&keyword="+keyword,"_blank");
                return false;
            },
            minLength: 1
        });
        var keyCode = e.keyCode || e.which;//('which' in event) ? event.which : event.keyCode;

        //alert(keyCode);
        if (keyCode == 13) {
            if (keyword == "") {
                alert("Bạn phải nhập từ khóa");
                return;
            }else{
                search();
            }
        }
    }
    //$.getJSON("/Home/getAllHotKeyWord", null, function (data) {
    //    alert(data);
    //});
    //$.ajax({
    //    url: "/Home/getAllHotKeyWord",
    //    cache: false
    //}).done(function( html ) {
    //    $( "#allhotkeyword").html(html);
    //});
    //$.ajax({
    //    url: "/Home/getAllCat?id=1",
    //    cache: false
    //}).done(function( html ) {
    //    $( "#allcat1").html("<b>Lĩnh vực: </b>"+html);
    //});
    //$.ajax({
    //    url: "/Home/getAllCat?id=2",
    //    cache: false
    //}).done(function( html ) {
    //    $( "#allcat2").html("<b>Loại văn bản: </b>"+html);
    //});
    $.ajax({
        url: "/Home/Log?keyword=@ViewBag.keyword",
        cache: false
    }).done(function( html ) {

    });
    function searchkw(keyword) {
        var url = "/Home/Index?";
        var k = keyword;
        //if (k == "") {
        //    return;
        //}
        var f1 = "";
        var f2 = "";
        var f3 = "";
        var f4 = "";

        url += "k=" + k + "&f1=" + f1 + "&f2=" + f2 + "&f3=" + f3 + "&f4=" + f4;// + "&order=" + order + "&to=" + to + "&pg=" + pg
        window.location.href = url;
    }
    function gotoCat(type,id){
        if (type==1){
            window.location.href ="/Document/Cat?cat11="+id;
        }
        if (type==2){
            window.location.href ="/Document/Cat?cat22="+id;
        }
    }
</script>

